@media screen and (max-width: 768px) {
  .velkomstbilde {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .gjemStorSkjerm {
    display: none;
  }
}
.gjemStorSkjerm {
  min-height: 16px;
  min-width: 16px;
}
.velkomstbilde {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: url('../bilder/autogenerert/velkomstbilde.jpg');
}
.vis-og-skjul-meny {
  text-align: center;
}
.right-aligned {
  text-align: right;
}
.klikkbar {
  cursor: pointer;
}
#epost {
  display: inline-block;
  height: 16px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../bilder/autogenerert/mmg.gif);
  background-position-x: 5px;
}
#epost:hover {
  background-image: url(../bilder/autogenerert/mm.gif);
}
.bottom-aligned {
  vertical-align: bottom;
}
.ustilert {
  text-decoration: none;
  color: #787878;
}
.bakgrunnbilde-innstillinger {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bakgrunnbilde-innstillinger-contain {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: #969696;
  margin: 0;
}
@media screen and (min-width: 768px) {
  body {
    /* Start og pause knapp */
    /* Navigasjonspiler */
    /* Navigasjonsknapper */
  }
  body .hoved-meny > a {
    text-decoration: none;
    color: #787878;
    color: white;
    font-size: 14px;
    padding: 0 7px;
    box-sizing: border-box;
  }
  body .hoved-meny > a > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: calc((500px - 152px) / 4);
    height: calc((500px - 152px) / 4);
  }
  body .hoved-meny > a > div#meg {
    background-image: url('../bilder/autogenerert/meny/meg.jpg');
  }
  body .hoved-meny > a > div#foto {
    background-image: url('../bilder/autogenerert/meny/foto.jpg');
  }
  body .hoved-meny > a > div#arkitektur {
    background-image: url('../bilder/autogenerert/meny/arkitektur.jpg');
  }
  body .hoved-meny > a > div#tegning {
    background-image: url('../bilder/autogenerert/meny/tegning.jpg');
  }
  body .hoved-meny > a > div > div {
    box-sizing: border-box;
  }
  body .hoved-meny > a > div > div.skygge {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((500px - 152px) / 4);
    box-sizing: border-box;
  }
  body .hoved-meny > a > div > div.skygge:hover,
  body .hoved-meny > a > div > div.skygge.aktiv {
    background-color: transparent;
  }
  body .hoved-meny > a > div > div.inverted {
    background-color: transparent;
  }
  body .hoved-meny > a > div > div.inverted.aktiv {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((500px - 152px) / 4);
    box-sizing: border-box;
  }
  body .hoved-meny > a > div > div.tekst {
    margin: -18px;
  }
  body #logo {
    text-align: center;
    padding-bottom: 40px;
    color: #787878;
  }
  body #logo > a {
    font-size: 30px;
    text-decoration: none;
    color: #787878;
  }
  body #logo > div {
    font-size: 14px;
    margin-top: 10px;
  }
  body .meny-vindu {
    width: calc(500px - 80px);
    margin: auto;
    margin-top: calc(50vh - 200px);
    height: auto;
    -webkit-transition: opacity 1s, width 1s, height 1s;
    transition: opacity 1s, width 1s, height 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  body .meny-vindu > .meny > a {
    text-decoration: none;
    color: #787878;
    color: white;
    font-size: 14px;
    padding: 0 7px;
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: calc((500px - 152px) / 4);
    height: calc((500px - 152px) / 4);
  }
  body .meny-vindu > .meny > a > div#meg {
    background-image: url('../bilder/autogenerert/meny/meg.jpg');
  }
  body .meny-vindu > .meny > a > div#foto {
    background-image: url('../bilder/autogenerert/meny/foto.jpg');
  }
  body .meny-vindu > .meny > a > div#arkitektur {
    background-image: url('../bilder/autogenerert/meny/arkitektur.jpg');
  }
  body .meny-vindu > .meny > a > div#tegning {
    background-image: url('../bilder/autogenerert/meny/tegning.jpg');
  }
  body .meny-vindu > .meny > a > div > div {
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div > div.skygge {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((500px - 152px) / 4);
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div > div.skygge:hover,
  body .meny-vindu > .meny > a > div > div.skygge.aktiv {
    background-color: transparent;
  }
  body .meny-vindu > .meny > a > div > div.inverted {
    background-color: transparent;
  }
  body .meny-vindu > .meny > a > div > div.inverted.aktiv {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((500px - 152px) / 4);
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div > div.tekst {
    margin: -18px;
  }
  body .meny-vindu.ut {
    -webkit-transition: opacity 1s, width 1s, height 1s;
    transition: opacity 1s, width 1s, height 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  body .meny-vindu.inn {
    -webkit-transition: opacity 1s, width 1s, height 1s;
    transition: opacity 1s, width 1s, height 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 1;
    height: auto;
  }
  body .sidemeny {
    padding: 40px;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: 500px;
    height: 100%;
  }
  body .sidemeny > .topp-venstre > .meny-vindu {
    width: 100%;
    margin: inherit;
    margin-top: 0;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny {
    margin: 15px 0 30px;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a {
    text-decoration: none;
    color: #787878;
    width: calc((500px - 152px) / 4);
    color: #d1d1d1;
    font-size: 11px;
    padding: 0 9px;
    box-sizing: border-box;
    text-align: center;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a:hover,
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a.aktiv {
    color: #787878;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a > div {
    vertical-align: top;
    padding: 7px 0;
    min-width: calc((500px - 152px) / 4);
    width: calc((500px - 152px) / 4);
    max-width: calc((500px - 152px) / 4);
    display: inline-block;
  }
  body .sidemeny > .nede-venstre {
    padding: 0 7px;
    font-size: 12px;
  }
  body .sidemeny > .nede-venstre .ingress {
    font-size: 1.0em;
    font-style: italic;
    margin-top: 10px;
  }
  body .sidemeny > .nede-venstre .ingress .ingress-overskift {
    font-weight: bold;
  }
  body .sidemeny > .nede-venstre .undertittel {
    font-weight: bold;
  }
  body .sidemeny > .nede-venstre .sitat {
    color: #91a057;
    font-style: italic;
  }
  body .hoved {
    padding: 40px 40px 80px 0;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 500px - 6px);
  }
  body .hoved .stort_bilde {
    width: 100%;
    height: calc(100vh - 3*40px);
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  body div.bildespinner-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  body div.bildespinner-wrapper > .bildespinner {
    height: 100%;
  }
  body div.bildespinner {
    position: relative;
    overflow: hidden;
  }
  body .bildespinner > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body div.klokke {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001;
  }
  body span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../bilder/bildespinner/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0;
  }
  body span.pause.active {
    background: url(../bilder/bildespinner/pause-black.png) no-repeat 0 -40px;
  }
  body div.klokke:hover span.pause,
  body span.pause.active {
    opacity: 1;
  }
  body div.slider-nav span {
    width: 78px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: calc(50% - 50px);
    cursor: pointer;
  }
  body div.slider-nav span.right {
    background: url(../bilder/bildespinner/right-arrow.png);
    right: 0;
  }
  body div.slider-nav span.left {
    background: url(../bilder/bildespinner/left-arrow.png);
    left: 0;
  }
  body div.slider-nav span.right:hover {
    background: url(../bilder/bildespinner/right-arrow_g.png);
  }
  body div.slider-nav span.left:hover {
    background: url(../bilder/bildespinner/left-arrow_g.png);
  }
  body .bildespinner-knapper {
    position: absolute;
    z-index: 1000;
    list-style: none;
    left: 15%;
    width: 70%;
    margin-left: -7px;
    padding: 0;
  }
  body .bildespinner-knapper li {
    float: left;
    margin-left: 15px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(../bilder/bildespinner/bullets.jpg) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden;
  }
  body .bildespinner-knapper li.active {
    color: #222;
    background-position: -8px 0;
    margin-left: 16px;
    width: 12px;
  }
}
@media screen and (max-width: 500px) {
  body {
    /* Start og pause knapp */
    /* Navigasjonspiler */
    /* Navigasjonsknapper */
  }
  body .hoved-meny > a {
    text-decoration: none;
    color: #787878;
    color: white;
    font-size: 14px;
    padding: 0 7px;
    box-sizing: border-box;
  }
  body .hoved-meny > a > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: calc((100vw - 114px) / 2);
    height: calc((100vw - 114px) / 2);
  }
  body .hoved-meny > a > div#meg {
    background-image: url('../bilder/autogenerert/meny/meg.jpg');
  }
  body .hoved-meny > a > div#foto {
    background-image: url('../bilder/autogenerert/meny/foto.jpg');
  }
  body .hoved-meny > a > div#arkitektur {
    background-image: url('../bilder/autogenerert/meny/arkitektur.jpg');
  }
  body .hoved-meny > a > div#tegning {
    background-image: url('../bilder/autogenerert/meny/tegning.jpg');
  }
  body .hoved-meny > a > div > div {
    box-sizing: border-box;
  }
  body .hoved-meny > a > div > div.skygge {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((100vw - 114px) / 2);
    box-sizing: border-box;
  }
  body .hoved-meny > a > div > div.skygge:hover,
  body .hoved-meny > a > div > div.skygge.aktiv {
    background-color: transparent;
  }
  body .hoved-meny > a > div > div.inverted {
    background-color: transparent;
  }
  body .hoved-meny > a > div > div.inverted.aktiv {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((100vw - 114px) / 2);
    box-sizing: border-box;
  }
  body .hoved-meny > a > div > div.tekst {
    margin: -18px;
  }
  body #logo {
    text-align: center;
    padding-bottom: 40px;
    color: #787878;
  }
  body #logo > a {
    font-size: 30px;
    text-decoration: none;
    color: #787878;
  }
  body #logo > div {
    font-size: 14px;
    margin-top: 10px;
  }
  body .meny-vindu {
    width: calc(100vw - 80px);
    margin: auto;
    margin-top: calc(50vh - 200px);
    height: 300px;
    -webkit-transition: opacity 1s, width 1s, height 1s;
    transition: opacity 1s, width 1s, height 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  body .meny-vindu > .meny > a {
    text-decoration: none;
    color: #787878;
    color: white;
    font-size: 14px;
    padding: 0 7px;
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: calc((100vw - 114px) / 2);
    height: calc((100vw - 114px) / 2);
  }
  body .meny-vindu > .meny > a > div#meg {
    background-image: url('../bilder/autogenerert/meny/meg.jpg');
  }
  body .meny-vindu > .meny > a > div#foto {
    background-image: url('../bilder/autogenerert/meny/foto.jpg');
  }
  body .meny-vindu > .meny > a > div#arkitektur {
    background-image: url('../bilder/autogenerert/meny/arkitektur.jpg');
  }
  body .meny-vindu > .meny > a > div#tegning {
    background-image: url('../bilder/autogenerert/meny/tegning.jpg');
  }
  body .meny-vindu > .meny > a > div > div {
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div > div.skygge {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((100vw - 114px) / 2);
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div > div.skygge:hover,
  body .meny-vindu > .meny > a > div > div.skygge.aktiv {
    background-color: transparent;
  }
  body .meny-vindu > .meny > a > div > div.inverted {
    background-color: transparent;
  }
  body .meny-vindu > .meny > a > div > div.inverted.aktiv {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((100vw - 114px) / 2);
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div > div.tekst {
    margin: -18px;
  }
  body .meny-vindu.ut {
    -webkit-transition: opacity 1s, width 1s, height 1s;
    transition: opacity 1s, width 1s, height 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  body .meny-vindu.inn {
    -webkit-transition: opacity 1s, width 1s, height 1s;
    transition: opacity 1s, width 1s, height 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 1;
    height: auto;
  }
  body .sidemeny {
    padding: 40px;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: 100vw;
    height: 100%;
  }
  body .sidemeny > .topp-venstre > .meny-vindu {
    width: 100%;
    margin: inherit;
    margin-top: 0;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny {
    margin: 15px 0 30px;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a {
    text-decoration: none;
    color: #787878;
    width: calc((100vw - 114px) / 2);
    color: #d1d1d1;
    font-size: 11px;
    padding: 0 9px;
    box-sizing: border-box;
    text-align: center;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a:hover,
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a.aktiv {
    color: #787878;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a > div {
    vertical-align: top;
    padding: 7px 0;
    min-width: calc((100vw - 114px) / 2);
    width: calc((100vw - 114px) / 2);
    max-width: calc((100vw - 114px) / 2);
    display: inline-block;
  }
  body .sidemeny > .nede-venstre {
    padding: 0 7px;
    font-size: 12px;
  }
  body .sidemeny > .nede-venstre .ingress {
    font-size: 1.0em;
    font-style: italic;
    margin-top: 10px;
  }
  body .sidemeny > .nede-venstre .ingress .ingress-overskift {
    font-weight: bold;
  }
  body .sidemeny > .nede-venstre .undertittel {
    font-weight: bold;
  }
  body .sidemeny > .nede-venstre .sitat {
    color: #91a057;
    font-style: italic;
  }
  body .hoved {
    padding: 40px 0 80px 0;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: 100%;
  }
  body .hoved .stort_bilde {
    width: 100%;
    height: calc(100vh - 3*40px);
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  body div.bildespinner-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  body div.bildespinner-wrapper > .bildespinner {
    height: 100%;
  }
  body div.bildespinner {
    position: relative;
    overflow: hidden;
  }
  body .bildespinner > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body div.klokke {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001;
  }
  body span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../bilder/bildespinner/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0;
  }
  body span.pause.active {
    background: url(../bilder/bildespinner/pause-black.png) no-repeat 0 -40px;
  }
  body div.klokke:hover span.pause,
  body span.pause.active {
    opacity: 1;
  }
  body div.slider-nav span {
    width: 78px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: calc(50% - 50px);
    cursor: pointer;
  }
  body div.slider-nav span.right {
    background: url(../bilder/bildespinner/right-arrow.png);
    right: 0;
  }
  body div.slider-nav span.left {
    background: url(../bilder/bildespinner/left-arrow.png);
    left: 0;
  }
  body div.slider-nav span.right:hover {
    background: url(../bilder/bildespinner/right-arrow_g.png);
  }
  body div.slider-nav span.left:hover {
    background: url(../bilder/bildespinner/left-arrow_g.png);
  }
  body .bildespinner-knapper {
    position: absolute;
    z-index: 1000;
    list-style: none;
    left: 15%;
    width: 70%;
    margin-left: -7px;
    padding: 0;
  }
  body .bildespinner-knapper li {
    float: left;
    margin-left: 15px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(../bilder/bildespinner/bullets.jpg) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden;
  }
  body .bildespinner-knapper li.active {
    color: #222;
    background-position: -8px 0;
    margin-left: 16px;
    width: 12px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 500px) {
  body {
    /* Start og pause knapp */
    /* Navigasjonspiler */
    /* Navigasjonsknapper */
  }
  body .hoved-meny > a {
    text-decoration: none;
    color: #787878;
    color: white;
    font-size: 14px;
    padding: 0 7px;
    box-sizing: border-box;
  }
  body .hoved-meny > a > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: calc((100vw - 152px) / 4);
    height: calc((100vw - 152px) / 4);
  }
  body .hoved-meny > a > div#meg {
    background-image: url('../bilder/autogenerert/meny/meg.jpg');
  }
  body .hoved-meny > a > div#foto {
    background-image: url('../bilder/autogenerert/meny/foto.jpg');
  }
  body .hoved-meny > a > div#arkitektur {
    background-image: url('../bilder/autogenerert/meny/arkitektur.jpg');
  }
  body .hoved-meny > a > div#tegning {
    background-image: url('../bilder/autogenerert/meny/tegning.jpg');
  }
  body .hoved-meny > a > div > div {
    box-sizing: border-box;
  }
  body .hoved-meny > a > div > div.skygge {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((100vw - 152px) / 4);
    box-sizing: border-box;
  }
  body .hoved-meny > a > div > div.skygge:hover,
  body .hoved-meny > a > div > div.skygge.aktiv {
    background-color: transparent;
  }
  body .hoved-meny > a > div > div.inverted {
    background-color: transparent;
  }
  body .hoved-meny > a > div > div.inverted.aktiv {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((100vw - 152px) / 4);
    box-sizing: border-box;
  }
  body .hoved-meny > a > div > div.tekst {
    margin: -18px;
  }
  body #logo {
    text-align: center;
    padding-bottom: 40px;
    color: #787878;
  }
  body #logo > a {
    font-size: 30px;
    text-decoration: none;
    color: #787878;
  }
  body #logo > div {
    font-size: 14px;
    margin-top: 10px;
  }
  body .meny-vindu {
    width: calc(100vw - 80px);
    margin: auto;
    margin-top: calc(50vh - 200px);
    height: 300px;
    -webkit-transition: opacity 1s, width 1s, height 1s;
    transition: opacity 1s, width 1s, height 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  body .meny-vindu > .meny > a {
    text-decoration: none;
    color: #787878;
    color: white;
    font-size: 14px;
    padding: 0 7px;
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: calc((100vw - 152px) / 4);
    height: calc((100vw - 152px) / 4);
  }
  body .meny-vindu > .meny > a > div#meg {
    background-image: url('../bilder/autogenerert/meny/meg.jpg');
  }
  body .meny-vindu > .meny > a > div#foto {
    background-image: url('../bilder/autogenerert/meny/foto.jpg');
  }
  body .meny-vindu > .meny > a > div#arkitektur {
    background-image: url('../bilder/autogenerert/meny/arkitektur.jpg');
  }
  body .meny-vindu > .meny > a > div#tegning {
    background-image: url('../bilder/autogenerert/meny/tegning.jpg');
  }
  body .meny-vindu > .meny > a > div > div {
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div > div.skygge {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((100vw - 152px) / 4);
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div > div.skygge:hover,
  body .meny-vindu > .meny > a > div > div.skygge.aktiv {
    background-color: transparent;
  }
  body .meny-vindu > .meny > a > div > div.inverted {
    background-color: transparent;
  }
  body .meny-vindu > .meny > a > div > div.inverted.aktiv {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc((100vw - 152px) / 4);
    box-sizing: border-box;
  }
  body .meny-vindu > .meny > a > div > div.tekst {
    margin: -18px;
  }
  body .meny-vindu.ut {
    -webkit-transition: opacity 1s, width 1s, height 1s;
    transition: opacity 1s, width 1s, height 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  body .meny-vindu.inn {
    -webkit-transition: opacity 1s, width 1s, height 1s;
    transition: opacity 1s, width 1s, height 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 1;
    height: auto;
  }
  body .sidemeny {
    padding: 40px;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: 100vw;
    height: 100%;
  }
  body .sidemeny > .topp-venstre > .meny-vindu {
    width: 100%;
    margin: inherit;
    margin-top: 0;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny {
    margin: 15px 0 30px;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a {
    text-decoration: none;
    color: #787878;
    width: calc((100vw - 152px) / 4);
    color: #d1d1d1;
    font-size: 11px;
    padding: 0 9px;
    box-sizing: border-box;
    text-align: center;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a:hover,
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a.aktiv {
    color: #787878;
  }
  body .sidemeny > .topp-venstre > .meny-vindu > .undermeny > a > div {
    vertical-align: top;
    padding: 7px 0;
    min-width: calc((100vw - 152px) / 4);
    width: calc((100vw - 152px) / 4);
    max-width: calc((100vw - 152px) / 4);
    display: inline-block;
  }
  body .sidemeny > .nede-venstre {
    padding: 0 7px;
    font-size: 12px;
  }
  body .sidemeny > .nede-venstre .ingress {
    font-size: 1.0em;
    font-style: italic;
    margin-top: 10px;
  }
  body .sidemeny > .nede-venstre .ingress .ingress-overskift {
    font-weight: bold;
  }
  body .sidemeny > .nede-venstre .undertittel {
    font-weight: bold;
  }
  body .sidemeny > .nede-venstre .sitat {
    color: #91a057;
    font-style: italic;
  }
  body .hoved {
    padding: 40px 0 80px 0;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: 100%;
  }
  body .hoved .stort_bilde {
    width: 100%;
    height: calc(100vh - 3*40px);
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  body div.bildespinner-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  body div.bildespinner-wrapper > .bildespinner {
    height: 100%;
  }
  body div.bildespinner {
    position: relative;
    overflow: hidden;
  }
  body .bildespinner > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body div.klokke {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001;
  }
  body span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../bilder/bildespinner/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0;
  }
  body span.pause.active {
    background: url(../bilder/bildespinner/pause-black.png) no-repeat 0 -40px;
  }
  body div.klokke:hover span.pause,
  body span.pause.active {
    opacity: 1;
  }
  body div.slider-nav span {
    width: 78px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: calc(50% - 50px);
    cursor: pointer;
  }
  body div.slider-nav span.right {
    background: url(../bilder/bildespinner/right-arrow.png);
    right: 0;
  }
  body div.slider-nav span.left {
    background: url(../bilder/bildespinner/left-arrow.png);
    left: 0;
  }
  body div.slider-nav span.right:hover {
    background: url(../bilder/bildespinner/right-arrow_g.png);
  }
  body div.slider-nav span.left:hover {
    background: url(../bilder/bildespinner/left-arrow_g.png);
  }
  body .bildespinner-knapper {
    position: absolute;
    z-index: 1000;
    list-style: none;
    left: 15%;
    width: 70%;
    margin-left: -7px;
    padding: 0;
  }
  body .bildespinner-knapper li {
    float: left;
    margin-left: 15px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(../bilder/bildespinner/bullets.jpg) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden;
  }
  body .bildespinner-knapper li.active {
    color: #222;
    background-position: -8px 0;
    margin-left: 16px;
    width: 12px;
  }
}
/*# sourceMappingURL=stil.css.map */