<div class="ingress">
    <div class="ingress-overskift">
        En ny sosial fasade - En løsning for etterinstalering av heis
    </div>
    <p> 
        Prosjektet handler om å finne en løsning for etter installering av heis 
        der trapperommet er for trangt og ligger i midten av bygget. 
        Løsningen er en svalgang å lage en svalgang med noen meters avstand til 
        bygget ettersom mange ikke liker at andre går for tett forbi soveromsvinduet. 
        Svalgangen skal være tilknyttet et heis- og trapperom
    </p>
    
    <p>Kunde: Oppegård kommune</p>
</div>

<div id="vis-tekst-innhold" ng-click="lesMer()" ng-class="{'tekst-vises': visTekst}">Les mer >></div>
<div ng-class="{'visTekst': visTekst}" id="tekst-innhold">
    <img alt="lukk" width="15px;" ng-click="lukk()" src="bilder/Kryss.gif"/>
    <div class="columns">
        En stor andel av beboerne er eldre og enslige. Noen er enker/enkemenn. 
        På befaringen ble det sagt at 35% av beboerne i borettslaget er over 70år. 
        I tillegg finnes det i følge styreleder noen kommunale boliger som brukes 
        av større barnefamilier. Etter å ha tilbrakt tid på tomten, 
        kom jeg i snakk med ere av beboerne. Det virker som om alle kjenner alle. 
        De handler inn mat for de som er dårlig til beins, og tar inn posten for de som er på ferie. 
        De forteller om morgensol inn på kjøkkenet. En av damene jeg kom i prat med, 
        nevnte at hun kunne tenkt seg en frokostbalkong. 
        Jeg dro også på visning på en loftsleilighet som var til salgs i borettslaget. 
        Det var kun to eldre venninner som var på visning utenom meg. 
        Hun likte leiligheten og beliggenheten med nærhet til venner, eldresenter, 
        butikk og kollektivtransport. Men med et 10-års perspektiv, 
        ville det være galskap å kjøpe leiligheten uten heis. Hun var nå 84 år.
        <div class="mellomrom"></div>
        
        De som virkelig trenger heisen, vil mest sansynelig ikke være i stand til å måke snø. 
        Derfor vil jeg lage skall i glass som hviler over svalgangen. 
        Bygget selv vil gi ly fra vest, så skallet vil ligge på østsiden av svalgangen. 
        For at glassveggen ikke skal bli en for dominerende og stor flate har 
        jeg tenkt at man kan sette den sammen av flere glassplater på samme måte som et skifertak. 
        Glassflisene er på 1m x 1m, som blir en størrelse som er mer ”menneskelig”. 
        Flisene festes i bånd av stål, som også vil ha funksjon som avstivning på konstruksjonen. 
        Fordi fisene ligger i forskjellige lag, blir refleksjonene i glasset delt opp. 
        <div class="mellomrom"></div>

        Med så hyggelige, inkluderende og sosiale beboere, ville det være trist 
        om svalgangen ble en mur eller vegg mellom bygget og veien hvor folk ferdes. 
        Derfor har jeg en visjon om at svalgangen skal bli en sosial fasade. 
        Som en forlengelse av kjøkkendørene og de røde vinduskarmene, 
        ønsker jeg at broene skal binde sammen de to konstruksjonene som tråkletråder. 
        Noen av broene kommer ut som felles balkonger på andre siden av 
        glass-skallet og skaper kontakt med livet på gangveien. 
        Broene er bygget av stål malt i samme farge som vinuskarmene. 
        Gulvet på broene er laget i armerte glassfiberrister og kan fås i samme farge. 
        Snøen vil falle igjennom risten slik at man slipper å måke. 
        Hullene vil også gi noe lysnedslipp til de under. Samtidig vil ristene 
        være mindre støyende å gå på enn vanlige metallrister. 
        Det er heller ikke glattå gå på når det er vått. 
        Disse broene har også en konstruktiv funksjon som avstivning i øst-vest-rettning. 
    </div>
    <div id="skjul-tekst-innhold" ng-click="lukk()" ng-class="{'tekst-vises': visTekst}">
        <div class="mellomrom"></div>
        << Skjul
    </div>
</div>