<div class="ingress">
    <div class="ingress-overskift">
        Johanneskirken
    </div>
    <p> 
        Sommeren 2014 var jeg fem uker på Lia gård for å hjelpe med å bygge stavkirken. 
        En uforglemmelig og lærerik opplevelse!
    </p>
    <p>Prosjektleder: Odd Egil Moen</p>
</div>
<div class="tekst-innhold">
    <p>
        Johanneskirken er en ny stavkirke som skal være en del av et pilegrimssenter 
        langs østerdalsleden. Jeg fikk være med å sette sammen store deler av kirken. 
        Fra å støpe fundamentet til å lage takstoler. Sigmund Bø har satt i gang prosjektet. 
        Kirken er tegnet av treskjærer Odd Egil Moen. Jeg fikk ansvaret for å 
        lede en liten gruppe med frivillige. På kveldene satt jeg med en 
        ingeniørstudent og tegnet detaljer for hvor vi skulle plassere 
        isolasjonen ettersom det ble bestemt at kirken skulle isoleres etter 
        at flere av delene var laget. Utfordringen ble å finne ut hvordan vi 
        kunne isolere samtidig som mest mulig av konstruksjonen ble synelig.
    </p>
    
    <p>
        På byggeplassen fikk jeg drive vanlig tømrerarbeid, bygge limtrebjelker, 
        jobbe med tredybler, rollen som krandirigent, HMS-pådriver.
    </p>
    
    <p>
        I de periodene hvor det var mindre å gjøre på kirken, f.eks når vi måtte 
        vente på at fundamentet skulle stivne, jobbet vi med et boligbygg tegnet 
        av arkitekt Einar Dahle. Boligen er kombinert med en kafé som skal kunne 
        ta imot pilgrimmene. Der fikk vi isolert, satt inn vinduer og takpapp, 
        og bygget de siste veggene slik at bygget ble tett for vinteren. 
        Da kunne hele høsten benyttes for å gjøre det samme med kirken. 
    </p>
    

</div>