<div class="ingress">
    <div class="ingress-overskift">
        Ladestien Barnehage 
    </div>
    <p> 
        En kunst- og kulturbarnehage med atelier  for kunstnere. 
        Form og farge skal tydelig formidle bruken av rommet. 
        Med bruk av ulike materialer, har jeg ønsket å stimulere alle sansene til barnet.
    </p>
    <p>Veileder: Eileen G. Johnsen og Kine Angelo</p>
</div>
<div class="tekst-innhold">
    <p>
        Ladestien barnehage er en sonebarnehage med tomt på ladestien. 
        Stien blir ført over taket på barnehagen. I barnehagen er det også lagt 
        opp til et samarbeid med kunstnere. Tre ulike atlieer er tegnet for utleie. 
        Her kan kunstnerne leie sentrumsnære atlieer for en billig penge mot at 
        de også åpner opp for barna i blant. Formen på rommene er med på å 
        signalisere til barna om stedet er for lek eller om det er et rom hvor 
        de må vise hensyn. Ved hjelp av skyvehyller som ligger i veggene, 
        kan man dele av verkstedsrommet i tre mindre rom. Barnas rom plasseres 
        også ut i uteområdet og gir et inntrykk av hva som er barnehagens område.
    </p>
    
    <p>
        Flere av barnas rom er laget av fiberarbert plast. 
        Inni plasten vil det være støpt inn stålprofiler. 
        På den måten kan rommene være berende elementer i bygget, 
        og holde både tak og gulv oppe. Prosjektet er tenkt som et 
        samarbeidsprosjekt med Sintef, og Sintef får prøvd ut sin nye 
        kuleisolasjon som blir støpt inn i plasten. Dette gjør at plasten 
        kan bli gjenomskinnelig,samtidig som stålet gir mørke skygger. 
        Inspirasjonen er hentet fra japanske rislykter.
    </p>
    
    <p>
        Prosessen  i dette prosjektet har vært veldig gøy, utfordrende og lærerik. 
        Jeg har laget japanske rislykter etter youtubefilmer, 
        jobbet med modeller av gips, såpe og skumpapp, 
        og prosjektert mye gjennom modell og skissering. 
        Bytte av prosjekteringsverktøy har drevet prosjektet fremover.
    </p>
    

</div>