<div class="ingress">
    <div class="ingress-overskift">
        Et møbel for barn
    </div>
    <p> 
        En hytte-bygge-madrass som kan vris og vendes på slik at den danner rom.
    </p>
    <p>Veileder: Eileen G. Johnsen og Kine Angelo</p>
</div>

<div id="vis-tekst-innhold" ng-click="lesMer()" ng-class="{'tekst-vises': visTekst}">Les mer >></div>
<div ng-class="{'visTekst': visTekst}" id="tekst-innhold">
    <img alt="lukk" width="15px;" ng-click="lukk()" src="bilder/Kryss.gif"/>
    <div class="columns">
        I forbindelse med barnehage-prosjektet ved Ladestien hadde vi en uke 
        med oppgave om å lage et møbel eller en romlig situasjon  
        som er laget for barn inspirert fra egen barndom. 
        <div class="mellomrom"></div>
        
        Da jeg var liten, likte jeg å lage hytte av en skummadrass som jeg 
        bøyde og satte i spenn mellom to bord eller stoler slik at den dannet en bue. 
        Inspirert av denne madrassen har jeg laget en hyttebyggemadrass som 
        kan vris på og danne ulike rom og hytter.  I prosessen var jeg i kontakt 
        med møbelsnekkere og ullstoffpordusenter. Jeg fikk tilsendt ullstoffer 
        med ulik tekstur og farger. Jeg så på muligheten for å fargesette ulike 
        sider av madrassen med en mørk og en lys side, ulike farger  og 
        muligheten for a skape nye farger ved fargerefleksjon ned på bakken. 
    </div>
    <div id="skjul-tekst-innhold" ng-click="lukk()" ng-class="{'tekst-vises': visTekst}">
        <div class="mellomrom"></div>
        << Skjul
    </div>
</div>