<div class="ingress">
    <div class="ingress-overskift">
        Rom for mennesker - midlertidige boliger for flyktninger
    </div>
    <p> 
        Prosjektet handler om å lage midlertidige hjem for mennesker som har fått asyl. 
        Utfordringen er å lage et bygg som gir disse menneskene verdighet, 
        sitt personlige sted, samtidig som man skal hjelpe dem med integrering. 
        Jeg vil også gi rom for det som er vondt, ved å gi dem steder å bearbeide 
        og uttrykke de minnene og følelsene de måtte bære på etter flukten til Norge. 
    </p>
    
    <p>Veileder: Eli Støa</p>
</div>
<div class="tekst-innhold">
    <p>
        De er vanlige mennesker som deg og meg, men med en uvanlig bakgrunn i 
        norsk sammenheng. Mennesker som først har flyktet fra en umenneskelig 
        situasjon for så  å ha lagt ut på en farefull reise med fare for eget 
        liv og for å bli utsatt for menneskehandel. Deretter har de sittet i 
        flere år og ventet på svar på søknad om asyl. I påvente på å få tildelt 
        en ny hjemkommune, ender mange opp med å bo lengre på asylmottaket 
        enn nødvendig. Oppgaven går ut på å lage midlertidige boliger for 
        våre nye borgere. Jeg har tegnet et modulbasert bygg over det 
        eksisterende bygget på tomten. Grunnplanet blir formet som en 
        møteplass for lokalbefolkningen og beborene med et samfunnshus, 
        park og et verksted. Boligkomplekset går over to plan. 
        Boligene er prefabrikerte elementer som plasseres inn i et stativ. 
        Felles fasiliteter som bibliotek, og et større felles kjøkken går 
        over begge de to planene og samler beboere fra begge plan. 
        De nye norske borgerne har opplevelser og minner som de trenger å bearbeide. 
        I tillegg skal de integreres og finne sin plass i samfunnet. 
        Bygget skal også ha rom for dette. Jeg har tegnet noen sirkulære rom 
        som står i kontrast til griddet. Sirkelen kan både virke samlende om 
        et sentrum, men kan også virke omsluttende og stenge noe ute. 
        Når man sitter i en sirkel er det heller ingen som sitter i noe høysete, 
        og sirkelen får dermed en symbolverdi for likeverd.
    </p>
</div>