<div class="ingress">
    <div class="ingress-overskift">
        Tektonikk - Utforske betong
    </div>
    <p> 
        I mitt tredje semester ut i utdanningen fikk vi bryne oss på betong. 
        Gjennom et sammarbeid mellom NTNU og Byggutengrenser ble vi sendt ut 
        til ulike bedrifter, og fikk brøve å tøye grensene for hva som er 
        mulig i betongens verden. Målet var å bygge møbler.
    </p>
    
    <p>
        Jeg og en god gjeng med medstudenter ble sendt til Contiga på Hell. 
        Resultatet av det ukeslange besøket ble tre krakker laget med fiberarmert betong.
    </p>
</div>