<div class="ingress">
    <div class="ingress-overskift">
        Trondheim litteraturhus - Transformasjon av Huitfeldsbryggen 
    </div>
    <p> 
        Et todelt prosjekt hvor del 1 har gått på oppmåling, 
        tilstandsanalyse og verdivurdering, og del 2 har vært en 
        prosjekteringsoppgave hvor jeg tegnet litteraturhus i bryggen. 
    </p>
    
    <p> 
        Etter semesteret laget vi utstilling i en av bryggene 
        for å skape debatt om de tomme lokalene i de historiske bygningene.
    </p>
    
    <p> 
        Jeg vant arkitekturprisen «Take>in< the accessibility design award» for historisk tilgjengelighet.
    </p>
    <p>Veileder: Trond Eide og Dag Nilsen</p>
</div>
<div class="tekst-innhold">
    <p>
        Trondheim trenger et litteraturhus, men som en del av debatten ønsket 
        jeg å se på om litteraturhuset kunne få plass i Huitfeldsbryggen i 
        stedet for Huitfeldspalasset på andre siden av gaten. 
        Bygget er en viktig del av bryggerekken i Trondheim, 
        men er i ferd med å falle ut i elven etter manglende vedlikehold i flere år. 
        Sammen med masterstudenter i kulturminneforvaltning har jeg målt 
        opp bryggen og laget både en tilstandsrapport og verdivurdering av 
        ulike deler av bygget. Etterpå ble informasjonen vi samlet inn 
        brukt i utformingen av litteraturhuset. 
    </p>
    
    <p>
        Ved hjelp av konstruksjon, materialer og farger viste jeg hva som var 
        nytt og hva som var autentisk.  Målet var å gjøre byggets historie lesbart, 
        og at man skulle kunne forstå hvordan det hadde sett ut før 
        jeg gjorde endringer på bygget.  Jeg vant studentprisen take>in< 
        for historisk tilgjengelighet.  På sommeren var jeg med å lage en 
        bryggeutstilling nede i byen for å skape oppmerksomhet rundt de store 
        lokalene som står tomme i bryggerekken midt i Trondheim sentrum.
    </p>
    

</div>