.transisjon(@sekunder){
    -webkit-transition: opacity @sekunder, width @sekunder, height @sekunder;
    transition: opacity @sekunder, width @sekunder, height @sekunder;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.krev-bredde(@bredde){
    min-width: @bredde;
    width: @bredde;
    max-width: @bredde;
}

.columns(@bredde, @antall){
    -webkit-columns: @bredde @antall;
    -moz-columns: @bredde @antall;
    columns: @bredde @antall;
}

@media screen {
    @media (max-width: 768px) {
        .velkomstbilde{
            display: none;
        }
    }
    
    @media (min-width: 500px) {

        .gjemStorSkjerm{
            display: none;
        }
    }
}

.gjemStorSkjerm{
    min-height: 16px;
    min-width: 16px;
}

.velkomstbilde{
    .bakgrunnbilde-innstillinger();
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-image: url('../bilder/autogenerert/velkomstbilde.jpg');
}

.right-aligned{
    text-align: right;
}

.klikkbar{
    cursor: pointer;
}

#epost{
    display: inline-block;
    height: 16px;
    width: 150px;
    .bakgrunnbilde-innstillinger-contain();
    background-image: url(../bilder/autogenerert/mmg.gif);
    background-position-x: 5px;
    
    &:hover{
        background-image: url(../bilder/autogenerert/mm.gif);
    }
}

.bottom-aligned{
    vertical-align: bottom;
}

.ustilert{
    text-decoration: none;
    color: @tittelfarge;
}

.bakgrunnbilde-innstillinger{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
}

.bakgrunnbilde-innstillinger-contain{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
}

.mellomrom{
    min-height: 10px;
}