.imp-sidemeny(){    
    .sidemeny{
        position: relative;
        z-index: 2;
        padding: @padding-rundt-innhold;
        box-sizing: border-box;
        vertical-align: top;
        display: inline-block;
        width: @sidemeny-bredde;
        height: 100%;


        > .topp-venstre{

            > .meny-vindu{
                width: 100%;
                margin: inherit;
                margin-top: 0;

                > .undermeny{
                    margin: 15px 0 30px;

                    > a{
                        .ustilert();
                        width: @meny-element-bredde;
                        color: lighten(@tittelfarge, 35%);
                        font-size: 11px;
                        padding: 0 (@meny-element-padding + 2px);
                        box-sizing: border-box;
                        text-align: center;

                        &:hover, &.aktiv{
                            color: @tittelfarge;
                        }

                        > div {
                            vertical-align: top;
                            padding: @meny-element-padding 0;
                            .krev-bredde(@meny-element-bredde);
                            display: inline-block;
                        }
                    }
                }
            }
        }

        > .nede-venstre{
            padding: 0 @meny-element-padding;
            font-size: 12px;
            
            .ingress{
                font-size: 1.0em;
                font-style: italic;
                margin-top: 10px;
            
                .ingress-overskift{
                    font-weight: bold;
                }
            }
            
            .undertittel{
                font-weight: bold;
            }
            
            .sitat{
                color: rgb(145, 160, 87);
                font-style: italic;
            }
            
        }
    }
}
.tekst-innhold-over-bilde(){
    #skjul-tekst-innhold{
        display: none;
    }
    
    #tekst-innhold{
        position: absolute;
        top: (2*@padding-rundt-innhold + @logo-hoyde);
        background-color: white;
        z-index: 0;
        width: 0px;
        height: 450px;
        left: @sidemeny-bredde;

        > .columns{
            clear: both;
            padding: 0px 15px 15px 0px;
            -webkit-columns: @kolonne-bredde @antall-kolonner; /* Chrome, Safari, Opera */
            -moz-columns: @kolonne-bredde @antall-kolonner; /* Firefox */
            columns: @kolonne-bredde @antall-kolonner;
        }

        > img{
            display: none;
        }

        &.visTekst{
            z-index: 1001;
            width: calc(@antall-kolonner * (@kolonne-bredde + 20px) + 30px);
            -webkit-transition: all 0.5s;
            transition: all 0.5s;

            > img{
                display: inline-block;
                margin: 3px;
                padding: 3px;
                float: right;

                &:hover{
                    cursor: pointer;
                    background-color: #eee;
                    border-radius: 3px;
                }
            }
        }
    }
}
.tekst-innhold-kollaps(){
    #skjul-tekst-innhold{
        display: none;
        
        &.tekst-vises{
            display: block;
        }
    }
    
    #vis-tekst-innhold{
        &.tekst-vises{
            display: none;
        }
    }
    
    #tekst-innhold{
        display: none;
        
        &.visTekst{
            display: block;
        }

        > img{
            display: none;
        }
    }
}