<div class="meny-vindu">
    <div id="logo">
        <a ui-sref="side.om">mlm</a>
        <div>
            marie lowzow morland
        </div>
    </div>
    <div class="meny">
        <a ui-sref="side.om"><div id="meg"><div class="skygge" ng-class="{'aktiv': menyvalg === 'meg'}"></div><div class="tekst">Meg</div></div></a>
        <a ui-sref="side.arkitektur"><div id="arkitektur"><div class="skygge" ng-class="{'aktiv': menyvalg === 'arkitektur'}"></div><div class="tekst">Arkitektur</div></div></a>
        <a ui-sref="side.arkitektur"><div id="foto"><div class="skygge" ng-class="{'aktiv': menyvalg === 'foto'}"></div><div class="tekst">Foto</div></div></a>
        <a ui-sref="side.arkitektur"><div id="tegning"><div class="skygge" ng-class="{'aktiv': menyvalg === 'min_strek'}"></div><div class="tekst">Min strek</div></div></a>
    </div>
    <div class="undermeny" ng-show="menyvalg && undermenyListe[menyvalg] !== undefined">
        <a ng-repeat="valgmulighet in undermenyListe[menyvalg]" ui-sref="side.{{ valgmulighet.k }}" ng-class="{'aktiv': undermeny === valgmulighet.k}"><div>{{ valgmulighet.v }}</div></a>
    </div>
</div>