<div class="ingress">
    <div class="ingress-overskift">
        Kontakt
    </div>
    <p> 
        Jeg har et enkeltmannsforetak og tar imot oppdrag.<br/>
        mlm arkitektur har organisasjonsnummer: 915 709 362
    </p>
    <p> 
        Marie Lowzow Morland<br/>   
        Arkitekt MNAL
    </p>
    <p>
        E: <span id="epost" class="bottom-aligned klikkbar" ng-click="kontaktMeg(marie, '@')"></span><br/>   
        M: <img class="bottom-aligned" alt='Nummer' src="bilder/autogenerert/mtg.gif"/>
    </p>
</div>