<div class="ingress">
    <div class="ingress-overskift">
        Hei kjære leser!
    </div>
    <p> 
        Mitt navn er Marie Lowzow Morland. Jeg er en arkitekt og eier foretaket mlm arkitektur.
    </p>
</div>

<div id="vis-tekst-innhold" ng-click="lesMer()" ng-class="{'tekst-vises': visTekst}">Les mer >></div>
<div ng-class="{'visTekst': visTekst}" id="tekst-innhold">
    <img alt="lukk" width="15px;" ng-click="lukk()" src="bilder/Kryss.gif"/>
    <div class="columns">
        Jeg er 25 år, er 150cm høy, og har levd de siste 5 årene i Trondheim 
        hvor jeg har studert arkitektur. I byen med kjærlighetsgaranti fant jeg Andreas. 
        Sommeren 2013 giftet vi oss i Haugesund. Han er dataingeniør, 
        187cm høy og stiller gjerne opp som helt når dataen ikke vil det jeg vil. 
        <div class="mellomrom"></div>
        
        Sammen er vi glad i å invitere venner på middag og brettspill. 
        I helgene drar vi gjerne på tur i fjell og skog. 
        Hvis vi ikke er i Guds frie natur er vi gjerne å finne i en krike på søndagen.
        <div class="mellomrom"></div>
        
        Jeg har en skaperglede og setter meg gjerne ned med maling og pensler 
        når jeg har tid. Gjerne med en kopp te og litt fin musikk i bakgrunnen. 
        Jeg lar meg inspirere av hva andre mennesker har laget, natur, og egne opplevelser. 
        Av og til drar jeg med meg andre inn i min kreative verden og f
        inner fram både gips og malekosten. Denne skapergleden har jeg tatt 
        med meg inn i arkitektstudiet. Jeg jobber godt både i gruppe og alene.  
        Om jeg skal bryte janteloven og skryte litt av meg selv, 
        så syns jeg at jeg er veldig flink til å finne fram til relevant 
        informasjon og dra det inn i utformingen av byggene. 
        Jeg er også flink til å sette meg inn i brukernes situasjon og behov.
        <div class="mellomrom"></div>
        
        Idealisten i meg sier at arkitekt er et vakkert omsorgsyrke hvor man 
        skal legge til rette for at mennesker skal fungere godt i sine 
        omgivelser og bidra til at de skal trives.
        <div class="mellomrom"></div>

        <div class="right-aligned">
            Med vennlig hilsen<br/>
            <i>Marie Lowzow Morland</i>
        </div>
    </div>
    <div id="skjul-tekst-innhold" ng-click="lukk()" ng-class="{'tekst-vises': visTekst}">
        <div class="mellomrom"></div>
        << Skjul
    </div>
</div>