<div class="ingress">
    <div class="ingress-overskift">
        Streker
    </div>
    <p> 
        Mens jeg gjennom et fotografi kan vise andre hva jeg har sett, 
        blir tegning og maling en måte å vise hvordan jeg tolker det jeg har sett. 
        Med maling og tegning kan jeg også formidle følelser, 
        stemninger og tanker som ikke nødvendigvis kan beskrives med ord. 
        Jeg bruker tegning både som et redskap til formidling, 
        og til egen glede på fritiden. Noen ganger kan jeg bruke timer på et bilde, 
        andre ganger er tegningen gjort på sekunder.
    </p>
    <p> 
        Jeg er en av dem som aldri sluttet å tegne som barn. 
        Da jeg var 14 år gikk jeg kurs på Christiania friakademi. 
        Sommeren 2010 solgte jeg bilder hos Den blå kube i Tvedestrand.
    </p>
    <p> 
        Jeg bruker mye akvarell, blyant, noe akryl, kull, kritt, og digitalt tegnebrett 
    </p>
</div>