@import "../_globale-regler.less";
@import "../_hovedmeny.less";
@import "../_sidemeny.less";
@import "../_hoveddel.less";
@import "../_bildeviser.less";

@tittelfarge: rgb(120, 120, 120);
@sidefarge: rgb(150, 150, 150);
@padding-rundt-innhold: 40px;
@meny-element-padding: 7px;

.responsive(@rules){
    @media screen {
        @media (min-width: 768px) {
            @sidemeny-bredde: 500px;
            @meny-element-bredde: calc((@sidemeny-bredde - 152px) / 4);
            @meny-height: auto;
            @hoved-bredde: calc(100% - @sidemeny-bredde - 6px);
            @padding-bilde-hoeyre: @padding-rundt-innhold;

            @rules();
        }

        @media (max-width: 500px) {
            @sidemeny-bredde: 100vw;
            @meny-element-bredde: calc((@sidemeny-bredde - 114px) / 2);
            @meny-height: 300px;
            @hoved-bredde: 100%;
            @padding-bilde-hoeyre: 0;
            
            @rules();
        }

        @media (max-width: 1000px){
            @media (min-width: 500px){
                @sidemeny-bredde: 100vw;
                @meny-element-bredde: calc((@sidemeny-bredde - 152px) / 4);
                @meny-height: 300px;
                @hoved-bredde: 100%;
                @padding-bilde-hoeyre: 0;

                @rules();
            }
        }
    }
}

body{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: @sidefarge;
    margin: 0;

    .responsive({
        .imp-hovedmeny();
        .imp-sidemeny();
        .imp-hoveddel();
        .bildeviser();
    });
}